body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: rgb(199, 217, 245);
}

.nav {
  background-color: black;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.game-image {
  margin-left: auto;
  margin-right: auto;
}

.landing {
  padding: 2em;
  margin: 1.5em;
}


ol, ul {
  padding-left: 30px;
}

.game {
  display: flex;
  justify-content: center;
}

.board {
  padding: 3em;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-family:cursive;
  font-weight: bold;
  font-size: medium;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.credits {
  display: flex;
  flex-wrap: wrap;
}

